<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matos Imports</title>
</head>
<body>
    <h1>Bem-vindo a Matos Imports</h1>
    
    <p>Atendimento</p>
    <p>Meus pedidos</p>
    <p>Produtos em oferta</p>
    <p>Acesso restrito</p>
    <p>Fale conosco</p>

    <h1>Confira nossas ofertas!</h1>



    <ul>
        <h2>tns</h2>
            <img src="../View/imagens/tn2.png" alt ="tn.1" height="150" width="150"/>



        <h2>air max 95</h2>
        <img src="../View/imagens/airmax95.1.png" alt= "airmax95" height="120" width="170"/>

        <h2>nocta glide</h2>
        <img src="../View/imagens/noctaglide.1.png" alt="nocta glide" height="150" width="150"/>


        <h2>jordan4</h2>
        <img src="../View/imagens/jordan4.1.png" alt="jordan4" height="100 width=100/>"/>




    </ul>
</body>
</html>

